@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@layer utilities {
    .font-pixel {
        font-family: 'Pixelify Sans', sans-serif;
    }
    .gold-shine {
        background: linear-gradient(90deg, #FFD700 20%, #FFFACD 40%, #FFD700 60%);
        background-size: 200% auto;
        color: #FFD700;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 2s linear infinite;
        display: inline-block;
    }

    .diagonal-genre {
        opacity: 0;
        transform: translateY(60px) translateX(-60px) scale(0.8) rotate(-8deg);
        transition: all 0.7s cubic-bezier(.4,2,.3,1);
        will-change: transform, opacity;
        }
    .diagonal-genre.visible {
        opacity: 1;
        transform: translateY(0) translateX(0) scale(1) rotate(0deg);
    }
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.blink-animation {
    animation: blink 1s infinite;
}